<div class="w-full flex border-b-2 border-gray-500 justify-start ">
    <a class="flex text-2xl  ml-4 font-medium rounded-full text-blue-400 hover:bg-gray-800 hover:text-white float-right">
        <div class=" grid grid-cols-6 ">
            <div class="hidden">
                <svg-icon key="arrow-left" color="white" fontSize="35px"></svg-icon>
            </div>
            <div class=" col-span-5">
                <h2 class="ml-3">{{title}}</h2>
            </div>
        </div>
    </a>
</div>