<div class="md:flex md:h-screen bg-dim-700 ">
    <div class="w-full md:flex-none md:w-1/4 md:h-screen ">
        <app-side-bar-left idUser="{{idUser}}" username="{{username}}" display_name="{{display_name}}"
            image="{{image}}">
        </app-side-bar-left>
    </div>
    <div class="flex-grow h-screen   border-r-2 border-l-2 bg-dim-600 border-gray-500 ">
        <div class="relative h-full w-full ">
            <div class="h-full overflow-auto text-white pb-14">
                <app-navigation-bar title="Messages"></app-navigation-bar>
                <div class="flex flex-col py-6 px-10">
                    <div class="flex justify-center">
                        <button (click)="onMoreData()"
                            class=" px-4 my-2 bg-transparent border-2 border-blue-500 text-blue-500 text-lg 
                    rounded-full hover:bg-blue-500 hover:text-gray-100 focus:border-4 focus:border-blue-300">More</button>
                    </div>
                    <div *ngFor="let item of (messages$|async)?.slice()?.reverse() as list">
                        <app-send-message *ngIf="item?.user_Owner?.username != username"
                            class="overflow-ellipsis overflow-hidde " username="{{(item?.user_Owner?.username)}}"
                            body=" {{(item.message)}}" image="{{(item?.user_Owner?.image)}}"></app-send-message>
                        <app-received-message *ngIf="item?.user_Owner?.username === username"
                            username="{{(item?.user_Owner?.username)}}" body=" {{(item.message)}}"
                            image="{{(item?.user_Owner?.image)}}"></app-received-message>
                    </div>
                </div>
            </div>
                <div class="absolute inset-x-0 bottom-0 h-20 px-8 bg-dim-700">
                <form [formGroup]="forMessage" (ngSubmit)="addMesssageToChat()" class=" h-full flex  ">             
                    <div class="self-center sm:flex  bg-white rounded-lg w-full">
                        <input formControlName="body" class="text-base  flex-grow outline-none px-2 " type="text"
                            placeholder="Message" />
                        <div class="ms:flex items-center  rounded-lg space-x-4 mx-auto ">
                            <button
                            [class.bg-disabled]="forMessage.controls.body.invalid || (forMessage.controls.body.value =='') || (chatCode == 'vacio')"
                            [disabled]="forMessage.controls.body.invalid && (forMessage.controls.body.value =='') || (chatCode == 'vacio')" type="submit"
                            class=" px-4 py-2 text-white font-bold rounded-md bg-indigo-400 hover:bg-blue-500">Send</button>
                        </div>
                    </div>
                    <span *ngIf="(forMessage.controls.body.invalid && (forMessage.controls.body.value  !='')) "
                        class="flex items-center font-medium tracking-wide text-red-500 text-xs mt-1 ml-1">
                        Invalid text for message!.
                      
                    </span>
                    <span *ngIf="forMessage.controls.body.value  !=''  &&  (chatCode == 'vacio')" 
                    class="flex items-center font-medium tracking-wide text-red-500 text-xs mt-1 ml-1"
                    >No chat seleted!.</span>
                </form>
            </div>
        </div>
    </div>
    <div class="flex-none w-1/4 h-screen  hidden lg:flex ">
        <app-list-users [idUserProfile]="idUser" class=" w-full" (userSelectedID)="onLoadMessages($event)">
        </app-list-users>
    </div>
</div>