<div class="cursor-pointer hover:bg-gray-600 ">
    <button class="flex items-center w-full px-4 py-2 select-none hover:bg-gray-100 focus:outline-none">
        <img class="w-12 mr-3 rounded-full border" src="https://i.ibb.co/0ZDqmDs/142030673-447983159572512-6561194794076636819-n.jpg" alt="Junior Coders" />
        <div class="transform translate-y-0.5 text-left">
            <h3 class="leading-4 text-gray-400 hover ">junior.coders</h3>
            <span class="text-xs text-gray-500">Active 20s ago</span>
        </div>
    </button>
</div>