<div class="flex justify-center my-1">
    <button (click)="onShowform()"
        class="right-4 mt-2 p-2 pl-5 pr-5 bg-transparent border-2 border-blue-500 text-blue-500 text-lg rounded-full hover:bg-blue-500 hover:text-gray-100 focus:border-4 focus:border-blue-300">
        {{ showForm? 'Hide':'New post'}}
    </button>
    <button (click)="onImageRequired()" *ngIf="showForm"
        class="right-4 mt-2 p-2 ml-5 pl-5 pr-5 bg-transparent border-2 border-blue-500 text-blue-500 text-lg rounded-full hover:bg-blue-500 hover:text-gray-100 focus:border-4 focus:border-blue-300">
        {{ withImage? 'No image':'Add image'}}
    </button>
</div>
<div *ngIf="showForm" class=" w-full p-3 bg-dim-700 border-b-2 border-gray-600 ">
    <form [formGroup]="formNewPost" (ngSubmit)="onCreatePost()">
        <div class=" flex-col">
            <div class="py-1">
                <input formControlName="title" type="text" name="default" placeholder="title post"
                    class="px-4 py-2  w-full rounded-lg border border-gray-300 focus:outline-none focus:ring-2 focus:ring-gray-200" />
                <span *ngIf="formNewPost.controls.title.invalid && formNewPost.controls.title.value  !='' "
                    class="flex items-center font-medium tracking-wide text-red-500 text-xs mt-1 ml-1">
                    Invalid text for title!.
                </span>
            </div>
            <div class="py-1">
                <textarea formControlName="body" type="text" name="default" placeholder="body post"
                    class="px-4 py-2 w-full h-16 rounded-lg border border-gray-300 focus:outline-none focus:ring-2 focus:ring-gray-200">
                </textarea>
                <span *ngIf="formNewPost.controls.body.invalid && formNewPost.controls.body.value  !='' "
                    class="flex items-center font-medium tracking-wide text-red-500 text-xs mt-1 ml-1">
                    Invalid text for body!.
                </span>
            </div>
            <div class="">
                <file-upload *ngIf="withImage" class="w-full" formControlName="files" multiple="false" accept="image/*"
                    maxsize="10MB" [animation]="true"></file-upload>
                <span *ngIf="formNewPost.controls.files.invalid && formNewPost.controls.files.value  !=[] "
                    class="flex items-center font-medium tracking-wide text-red-500 text-xs mt-1 ml-1">
                    Invalid file for image!.
                </span>
                <img *ngIf="filePath !='null' " class="w-full object-scale-down max-h-48 m-2" [src]="filePath"
                    alt="image-user" />
            </div>
            <div class="py-1">
                <input formControlName="tags" type="text" name="default" placeholder="tags post"
                    class="px-4 py-2  w-full rounded-lg border border-gray-300 focus:outline-none focus:ring-2 focus:ring-gray-200" />
                <span *ngIf="formNewPost.controls.tags.invalid && formNewPost.controls.tags.value  !='' "
                    class="flex items-center font-medium tracking-wide text-red-500 text-xs mt-1 ml-1">
                    Invalid text for tags!.
                </span>
            </div>
        </div>
        <div class="flex">
            <button type="submit"
                class=" py-2 px-4 text-white font-bold rounded-md bg-indigo-400 hover:bg-blue-500">Create
                Post</button>
        </div>
    </form>

</div>