<div class="w-full border-b-2 border-gray-500 ">
    <a>
        <div class="flex-col">
            <div class="flex p-4 pb-0 w-full">
                <a class="flex-shrink-0 group block">
                    <div class="flex items-center">
                        <div>
                            <img class="inline-block h-10 w-10 rounded-full"
                                src="{{url+'cdn/user/'+image}}"
                                alt="" />
                        </div>
                        <div class="ml-3">
                            <p [routerLink]="['/profile', id]"  class="text-base   hover:underline cursor-pointer leading-6 font-medium text-white">
                                {{display_name}}
                                <span
                                    class="text-sm leading-5 font-medium text-gray-400 group-hover:text-gray-300 transition ease-in-out duration-150">
                                    @{{username}}
                                </span>
                            </p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="w-full py-2 px-6">
                <p class="text-base overflow-y-auto font-medium text-gray-400 ">
                    {{body}}
                </p>
            </div>
        </div>
    </a>
</div>