<div class="grid lg:grid-cols-3 h-screen bg-gray-800">
    <div class=" lg:flex lg:col-span-2 bg-yellow  hidden lg:visible bg-init items-center  justify-center ">
        <div class="max-w-xs transform duration-200 hover:scale-150 cursor-pointer ">

        </div>
    </div>
    <div class=" bg-gray-800">
        <div class=" pl-10 py-5 bg-init-p ">
            <div class="cursor-pointer flex items-center">
                <div>
                </div>
                <div class="text-2xl text-indigo-200 tracking-wide ml-2 font-semibold">I still don't have a name</div>
            </div>
        </div>
        <div class="mt-10 px-12 sm:px-24 md:px-48 lg:px-12 lg:mt-16 xl:px-24 xl:max-w-2xl">
            <h2 class="text-center text-4xl text-indigo-200 font-display font-semibold lg:text-left xl:text-5xl
                      xl:text-bold">Sing Up</h2>
            <div class="mt-12 ">
                <form [formGroup]="formRegister" (ngSubmit)="onRegister()">
                    <div>
                        <div class="text-sm font-bold text-indigo-400  tracking-wide">Email Address</div>
                        <input id="email" type="email" placeholder="name@dominio.com" formControlName="email"
                            class="w-full text-lg py-2 border-b border-gray-300 focus:outline-none focus:border-indigo-500" />
                        <span *ngIf="formRegister.controls.email.invalid && formRegister.controls.email.value  !='' "
                            class="flex items-center font-medium tracking-wide text-red-500 text-xs mt-1 ml-1">
                            Invalid text for email!.
                        </span>
                    </div>
                    <div class="mt-8">
                        <div class="flex justify-between items-center">
                            <div class="text-sm font-bold text-indigo-400  tracking-wide">
                                Username
                            </div>
                        </div>
                        <input id="username" type="username" placeholder="username99" formControlName="username"
                            class="w-full text-lg py-2 border-b border-gray-300 focus:outline-none focus:border-indigo-500" />
                        <span *ngIf="formRegister.controls.username.invalid && formRegister.controls.username.value  !='' "
                            class="flex items-center font-medium tracking-wide text-red-500 text-xs mt-1 ml-1">
                            Invalid text for username!.
                        </span>
                    </div>
                    <div class="mt-8">
                        <div class="flex justify-between items-center">
                            <div class="text-sm font-bold text-indigo-400  tracking-wide">
                                Password
                            </div>
                        </div>
                        <input id="password" type="password" placeholder="Enter your password"
                            formControlName="password"
                            class="w-full text-lg py-2 border-b border-gray-300 focus:outline-none focus:border-indigo-500" />
                        <span *ngIf="formRegister.controls.password.invalid && formRegister.controls.password.value  !='' "
                            class="flex items-center font-medium tracking-wide text-red-500 text-xs mt-1 ml-1">
                            Invalid text for Password!. <br>
                            At least 8 characters in length. <br> Lowercase letters. <br> Uppercase letters <br> Numbers. <br> Special characters.
                        </span>
                    </div>
                    <div class="mt-8">
                        <div class="flex justify-between items-center">
                            <div class="text-sm font-bold text-indigo-400  tracking-wide">
                                Repeat assword
                            </div>
                        </div>
                        <input id="passwordRepit" type="password" placeholder="Enter your password"
                            formControlName="passwordConfirm"
                            class="w-full text-lg py-2 border-b border-gray-300 focus:outline-none focus:border-indigo-500" />
                        <span *ngIf="formRegister.controls.passwordConfirm.invalid && formRegister.controls.passwordConfirm.value  !='' "
                            class="flex items-center font-medium tracking-wide text-red-500 text-xs mt-1 ml-1">
                            Invalid text for Password!. <br>
                            At least 8 characters in length. <br> Lowercase letters. <br> Uppercase letters <br> Numbers. <br> Special characters.
                        </span>
                    </div>
                    <div class="mt-10">
                        <button type="submit" class="bg-indigo-500 text-gray-100 p-4 w-full rounded-full tracking-wide
                                  font-semibold font-display focus:outline-none focus:shadow-outline hover:bg-indigo-600
                                  shadow-lg">
                            Create account  
                        </button>
                    </div>
                </form>
                <div class="mt-12 text-sm font-display font-semibold text-gray-200 text-center">
                    Have an account ?
                    <a [routerLink]="['/login']" routerLinkActive="router-link-active"
                        class="cursor-pointer text-indigo-400 hover:text-indigo-800"> Login</a>
                </div>
            </div>
        </div>
    </div>
</div>