<div class="md:flex md:h-screen bg-dim-700 ">
    <div class="w-full md:flex-none md:w-1/4 md:h-screen ">
        <app-side-bar-left 
        idUser="{{idUser}}"
        username="{{username}}"
        display_name="{{display_name}}"
        image="{{image}}"
        >
        </app-side-bar-left>
    </div>
    <div 
    class="flex-grow border-r-2 border-l-2 bg-dim-600 border-gray-500  overflow-y-scroll "
    infiniteScroll
    (scrolled)="onScrollDown()"
    >
        <app-navigation-bar  title="Notifications"></app-navigation-bar>
        <div class="h-full"  >
            <app-card-noti *ngFor="let item of notis$ | async as list"
            id="{{(item?.user_Writer?.id)}}"
            username="{{(item?.user_Writer?.username)}}"
            display_name="{{(item?.user_Writer?.display_name)}}"
            image="{{(item?.user_Writer?.image)}}"
            unicode="{{item?.unicodeNoti}}"
            ></app-card-noti>
            <div class="flex justify-center" >
                <button  
                (click)="onMoreData()" 
                class="my-4 px-4 py-2 bg-transparent border-2 border-blue-500 text-blue-500 text-lg 
                rounded-full hover:bg-blue-500 hover:text-gray-100 focus:border-4 focus:border-blue-300">More</button>
            </div>
        </div>

       
    </div>
    <div class="flex-none lg:w-1/4 h-screen  hidden lg:flex ">
        <app-side-bar-right class=" w-full"></app-side-bar-right>
    </div>
</div>