<div class="flex h-auto   m-2 rounded-md bg-green-900 hover:bg-green-700 hover cursor-pointer">
    <div class="flex-none h-10 w-14 mt-4 justify-center">
        <img class="ml-2 h-10 w-10 rounded-full" src="{{url+'cdn/user/'+image}}" alt="" />
    </div>
    <div class=" h-auto w-full overflow-x-hidden ">
        <div class="flex-col">
            <p class="text-white text-md px-4 py-2 overflow-clip overflow-hidden w-full ">{{username}}</p>
            <p class="text-gray-300 text-md mb-2  overflow-clip ml-4 overflow-hidden w-full">{{body}}</p>
        </div>
    </div>
</div>